beautifulsoup4
bs4
certifi
chardet
charset-normalizer
class-registry
cloudscraper
colorama
dnspython
Faker
filters
google-search
idna
Jinja2
lxml
MarkupSafe
names
pip
pyactiveresource
pyaes
pyasn1
PyJWT
pymongo
pyparsing
Pyrogram
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
random-address
regex
requests
requests-toolbelt
retry-requests
rsa
ShopifyAPI
six
soupsieve
Telethon
text-unidecode
urllib3
whois
